body {
    padding: 0px;
    margin: 0px;
    background-image: url("https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80");
    width: 100%;
    height: max-content;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 100%;
    padding: 20px;
    margin-bottom: 50px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: rgb(9, 1, 51);
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 10px 0;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.aside-link {
    font-size: 25px;
}

a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(96, 143, 229);
    font-size: 30px;
    text-decoration: none;
    display: block;
}

a:hover {
    background-color: rgb(96, 143, 229);
    color: rgb(9, 1, 51);
}

.curent-page {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.space-info {
    background-color: rgba(170, 166, 159, 0.3);
    text-align: center;
    padding-top: 50px;
    margin-bottom: 5%;

}

.space-info img {
    padding-bottom: 5%;
}

.space-info p {
    padding-bottom: 5%;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    font-size: 50px;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    font-size: 40px;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 30px;
    padding: 0% 5%;
}

h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    font-size: 75px;
}

.space2-2 {
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    height: max-content;
    border-radius: 5em;
    width: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 5%;


}

.space2-2 img {
    border: 5px rgb(255, 255, 255);
    border-radius: 5em;
    width: 100%;
    height: 1000%;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    font-size: 100px;
}

table {
    text-align: center;
    align-items: center;
    align-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    border-collapse: collapse;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 50px;
    border-bottom: 1px solid black;


}

summary {
    font-size: 40px;
}

.progress-bar {

    align-items: center;
    align-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(96, 143, 229);
    font-size: 50px;
}

progress[value] {
    width: 80%;
    height: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}

progress[value]::-webkit-progress-bar {
    background-color: rgba(170, 166, 159, 0.3);
    border-radius: 10em;
}

progress[value]::-webkit-progress-value {
    background-color: rgb(96, 143, 229);
    border-radius: 10em;

}

th {
    background-color: rgb(9, 1, 51);
    color: rgb(96, 143, 229);
    border-bottom: 1px solid black;

}

tr {
    color: rgb(0, 0, 0);
    background-color: rgba(9, 1, 51, 0.39);
    border-bottom: 1px solid black;
}

td:hover {
    background-color: rgb(9, 1, 51);
    color: rgb(96, 143, 229);
}

.collumn {
    background-color: rgba(9, 1, 51, 0.3);
}

footer {

    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 10px 0;
    background-color: rgb(9, 1, 51);
}